@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
		body {
  font-family: 'Montserrat', sans-serif !important;
}
html {
  scroll-behavior: smooth;
}		
.carousel-item{
	height: 800px;
}
@media screen and (max-width: 600px) {
	.carousel-item{
	height: 200px;
}
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
 .accordion-testo {
  margin-bottom: 0px !important;
padding-top: 12px;
  font-weight: 500;
  line-height: 1.2;
}
input[type=checkbox] {
  accent-color: #FFE74D;
}